@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --primary: #9d23bc;
  --primary-hover: #9d23bc8f;
  --secondary: #2d2318;
  --tertiary: #ffff00;
  --tertiary-hover: #ffff0071;
  --darken: rgb(0, 0, 0, 0.2);
  --base-border: 2px solid;
}
body {
  margin: 0;
  padding: 20px;
  font-family: "Poppins";
  background: var(--secondary);
}
* {
  color: #fff;
  margin: 0;
}
p {
  margin: 20px 0;
}
button {
  border: 0;
  padding: 8px;
  border-radius: 4px;
  color: white;
  background: var(--primary);
  cursor: pointer;
}

/* navbar */
header nav {
  display: flex;
  gap: 16px;
  justify-content: end;
  max-width: auto;
  margin: 0 auto;
}
header nav h1 {
  margin-right: auto;
  border-bottom: 3px solid var(--primary);
}
header nav a {
  text-decoration: none;
  padding: 6px;
  border-radius: 0.5rem;
}
header nav a:hover {
  background: var(--primary-hover);
  color: var(--tertiary-hover);
  transition: 0.5s ease;
}
header nav a.active {
  background: var(--primary);
  color: var(--tertiary);
}
/* page content */
main {
  max-width: fit-content;
  margin: 40px auto;
}
/* help layout */
.help-layout nav,
.help-layout h2,
.help-layout .help-sub-title,
.career-layout > h2,
.career-layout .career-layout-sub-title {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 30px 0;
}

.help-layout nav a {
  padding: 10px;
  border: 3px solid var(--primary);
  border-radius: 0.5rem;
  text-decoration: none;
}
.help-layout nav a:hover {
  background: var(--primary-hover);
  color: var(--tertiary-hover);
  transition: 0.5s ease;
}
.help-layout nav a.active {
  background: var(--primary);
  color: var(--tertiary);
  border: 3px solid var(--tertiary);
}
/* faq */
.faq .questions {
  background: var(--darken);
  padding: 5px 20px;
  border-radius: 0.5rem;
  margin: 20px 5px;
}
/* contact form */
form {
  margin-top: 30px;
}
form input,
form label span,
form textarea {
  display: block;
}
form input,
form textarea {
  margin-bottom: 30px;
  padding: 8px;
  border-radius: 0.5rem;
  border: 0;
  width: 100%;
  color: var(--primary);
}
form textarea {
  height: 5rem;
}
form label span {
  margin-bottom: 10px;
}
/* careers list */
.careers > a {
  display: block;
  background-color: var(--darken);
  padding: 20px;
  border-radius: 0.75rem;
  margin: 20px 0;
  text-decoration: none;
  border: var(--base-border) var(--primary);
  border-radius: 0.75rem;
  transition: 0.2s ease-in;
}
.careers > a:hover {
  border: var(--base-border) var(--tertiary);
  border-radius: 0.75rem;
}
.careers > a:hover p {
  color: var(--primary);
}
.careers p {
  margin: 5px;
}
.careers > a p:last-child {
  font-size: 0.8rem;
  color: #bbb;
}
/* careers details */
.career-details {
  background: var(--darken);
  padding: 20px;
  border-radius: 0.5rem;
  margin: 20px 0;
  width: fit-content;
  border: var(--base-border) var(--primary);
  border-radius: 0.75rem;
}
/*error page*/
.career-error {
  text-align: left;
}
/* breadcrumbs */
.breadcrumbs {
  max-width: fit-content;
  margin: 20px 0;
}
.breadcrumbs > * {
  display: inline-block;
  margin-right: 10px;
}
.breadcrumbs .crumbs:after {
  content: ">";
  margin-left: 10px;
}
.breadcrumbs .crumbs:last-child:after {
  display: none;
}
.breadcrumbs .crumbs a {
  color: #ddd;
  text-decoration: none;
}
.breadcrumbs .crumbs a:hover {
  color: var(--tertiary-hover);
}
